.ruleContainer {
  background: rgb(255, 245, 245);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: scroll;
  margin-top: 120px;
}
.rulesHeading {
  margin-bottom: -10px;
  margin-top: 35px;
}
.ruleBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFCACA;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10%;
}
.rulesContent{
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
.rulesContent li {
  padding: 5px;
}


  